<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>



<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<meta charset = "UTF-8">
{% load staticfiles %}





<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Juliaus forumas</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Pradininis puslapis</a></li>
      <li><a href="/diskusijos/">Diskusijos</a></li>
		{% if user.is_authenticated%}
       <li><a href="/nustatymai/">Mano</a></li> 
	   {%else%}
	    <li><a href="/login">Mano</a></li> 
		{%endif%}
    </ul>
	{% if user.is_authenticated %}
       <button class="btn btn-default btn-lg"><a href="/logout">Atsijungti</a></button>
      {% else %}
     <button class="btn btn-default btn-lg"> <a href="/login"> Prisijungti</a></button>
     <button class="btn btn-default btn-lg"> <a href="/register"> Registruotis</a></button>
      {% endif %}
  </div>
</nav>


  


{% block content %}
{% endblock %}

</body>

</html>

