{% extends "header.html" %}
{% block content %}

<h2>Naujausi postai</h2>
{% for obj in object_list%}

<div class ="row">
	<div class="col-md-6 ">
		<div class ="col-md-8 col-sm-offset 3">
		<div class ="thumbnail">
		<div class ="caption">
				<h1>{{ obj.title}}</h1>
				<p>{{ obj.content|linebreaks}} </p></br>
				<p align="left">patalpina pries {{ obj.timestamp|timesince}} </p>
				<p> Author: {{obj.user}}</p>
				<p><a class="btn btn-default" href= "{% url 'detail' id=obj.id %}">Placiau</a></p>
		</div>
		</div>		
		</div>
	</div>
</div>

{% endfor %}


{% endblock %}